<h1>Sign Up</h1>
<%= form_for @user do |f| %>
<div class="container">
    <div class='jumbotron jumbotron-fluid' style="background-color: rgba(192,192,192,.1)">
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div >
      <%= f.label :list_your_skills%>:<br>
      <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name%>
      </div>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image%>
      </div>
      <div>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
