<h1><%= @project.title %></h1>

<p>
  <%= @project.content %>
</p>
<p>
  funding? <%= @project.funding ? "Yes! We are funded!" : "Still working on it." %>
</p>
<p>
  <%= @creator%>
</p>
<p>
  <%@project.skills.each do |skill| %>
    <%= skill.name%>
  <% end %>
</p>
