<h1><%= @project.title %></h1>

<p>
  <%= @project.content %>
</p>
<p>
  funding? <%= @project.funding ? "Yes! We are funded!" : "Still working on it." %>
</p>
<p>
  <%= link_to @creator.name, user_path(@creator)%>
</p>
<p>
  <%@project.skills.each do |skill| %>
    <%= skill.name%>
  <% end %>
</p>

<div>
  <%@project.comments.each do |comment|%>
  <p><%= comment.content%> </p>
  <% end %>
</div>
<%= render 'comment_form' %>
