<h1><%= @project.title %></h1>

<p>
  <%= @project.content %>
</p>
<p>
  funding? <%= @project.funding ? "Yes! We are funded!" : "Still working on it." %>
</p>
<p>
  <%= link_to @creator.name, user_path(@creator)%>
</p>
<p>
  <%@project.skills.each do |skill| %>
    <%= skill.name%>
  <% end %>
</p>

<%if @creator == current_user %>
  <%= link_to 'Delete Project', @project, method: :delete, data: {confirm: 'Are You Sure?'}%>
<%end%>

<div>
  <%@project.comments.each do |comment|%>
  <p>
    <%= link_to comment.user.name, user_path(comment.user) %>:
    <%= comment.content%>
    <% if current_user == comment.user %>
    <%= link_to 'Delete Comment', project_comment_path(@project, comment), method: :delete, data: {confirm: 'Are You Sure?'}%>
    <% end %>
  </p>
  <% end %>
</div>
<%= render 'comment_form' %>
