<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  </head>

  <body>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div>
      <%= link_to 'Create a New Project', new_project_path %>
    </div>
    <div>
      <%= link_to 'Search Projects', projects_path %>
    </div>
    <div>
      <%= link_to 'Search Users', users_path %>
    </div>
 <% if current_user %>
 <p id="LoggedIn" class="navbar-text navbar-right">Logged in as:<a href="#" class="navbar-link">
    <%= current_user.name %><br>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  </a>
</p>

<% end %>
</div>

    <%= yield %>

    </div>
  </body>
</html>
